/* [ START ] Main Rules */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100dvh;
	background-color: #f3e5d7;
	font-family: 'Outfit', sans-serif;
}
/* [ END ] Main Rules */
